doctype html 
html(lang="en")
  head
    title WorldWizQuiz - Quiz
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    style
      include ../public/stylesheets/style.css
      include ../public/stylesheets/style-main.css
    style. 

      input[type="radio"]{
        display: none;
      }

      input[type="radio"] + label {
        color: black;
        cursor : pointer;
        
      }

      input[type="radio"]:checked + label{
        color: white;
      }

      button{
        background-color: #5B6EE1;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }
    script.
      //Filter by region
      function myFunction(region) {
        window.location.href = '/country/' + region;
      }
  body
    header
        a.button(href="/menulogged") Home 
        a.button(href="/loginadd") Add Question 
        a.button(href="/country") Quiz
        a.button(href="/about") About Us
        a.buttonaccount(href="/account") My Account 
        a.buttondisconnect(href="/disconnect") Disconnect 

    main(style=`background-color: #5B6EE1`)
      h1 Select area of the world to get quizzed on:
      img(src='/images/map.png', usemap='#workmap')
      map(name='workmap')
        area(target='NA' alt='NA' title='NA' onclick='myFunction("North America")' coords='215,119,60,139,35,196,124,247,166,304,215,344,271,275,292,215,267,134' shape='poly')
        area(target='SA' alt='SA' title='SA' onclick='myFunction("South America")' coords='239,333,226,367,241,430,238,511,288,512,343,380,297,334' shape='poly')
        area(target='EU' alt='EU' title='EU' onclick='myFunction("Europe")' coords='506,131,393,134,426,249,473,235,515,253,547,181' shape='poly')
        area(target='AF' alt='AF' title='AF' onclick='myFunction("Africa")' coords='476,241,427,255,412,293,438,319,465,324,474,380,480,418,522,417,575,378,579,300,520,259' shape='poly')
        area(target='OC' alt='OC' title='OC' onclick='myFunction("Oceania")' coords='835,372,753,376,735,440,785,477,873,503,940,499,947,441,888,419,860,385' shape='poly')
        area(target='ASIA' alt='ASIA' title='ASIA' onclick='myFunction("Asia")' coords='524,133,559,180,531,252,600,266,638,329,786,365,918,115,671,60' shape='poly')      
      if bool 
        section.containerquestions
            h2 #{region}
              form(action='/check-answer', method='post')
                    input(type='hidden', name='questionId', id='questionId', value=id)
                    input(type='hidden', name='user_id', id='user_id', value=user_id)
                    input(type='hidden', name='regionid', id='regionid', value=regionid)  
                    h3= question
                      each option in options
                        if option
                          li
                            input(type='radio', name='answer', id="opt-"+option, value=option)
                            label(for="opt-"+option)= option
                    button(type='submit') Submit Answer 
      if output
        if output.correct
            .message(style="color: lightgreen;") #{output.message}
        else
            .message(style="color: red;") #{output.message}
