doctype html 
html(lang="en")
  head
    title Select country
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    style
      include ../public/stylesheets/style.css
      include ../public/stylesheets/style-main.css
    

    //script.
        document.addEventListener('submit', function (e) {
          e.preventDefault();
          console.log("test")
          var form = e.target;
          console.log(form);
          var formData = new FormData(form);
          console.log(formData);

          fetch('/check-answer', {
            method: 'POST',
            body: formData,
          })
            .then((response) => response.json())
            .then((data) => {
              showModal(data.result);
            });
        });

    script.
      //Filter by region
      function myFunction(region) {
        window.location.href = '/country/' + region;
      }

    //script.
      function showModal(result) {
        var modal = document.getElementById('answerModal');
        var answerResult = document.getElementById('answerResult');

        answerResult.textContent = result;
        modal.style.display = 'block';

        var closeModalButton = document.getElementById('closeModal');
        closeModalButton.onclick = function() {
          modal.style.display = 'none';
        };

        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = 'none';
          }
        };
      }
    

  body
    header
        a.button(href="/") Home 
        a.button(href="/loginadd") Add Question 
        a.button(href="/country/0") Quiz
        a.button(href="/about") About Us
    main(style=`background-color: lightblue`)
      h1 Select area of the world to get quizzed on:
      img(src='/images/map.png', usemap='#workmap')
      map(name='workmap')
        area(target='NA' alt='NA' title='NA' onclick='myFunction("North America")' coords='215,119,60,139,35,196,124,247,166,304,215,344,271,275,292,215,267,134' shape='poly')
        area(target='SA' alt='SA' title='SA' onclick='myFunction("South America")' coords='239,333,226,367,241,430,238,511,288,512,343,380,297,334' shape='poly')
        area(target='EU' alt='EU' title='EU' onclick='myFunction("Europe")' coords='506,131,393,134,426,249,473,235,515,253,547,181' shape='poly')
        area(target='AF' alt='AF' title='AF' onclick='myFunction("Africa")' coords='476,241,427,255,412,293,438,319,465,324,474,380,480,418,522,417,575,378,579,300,520,259' shape='poly')
        area(target='OC' alt='OC' title='OC' onclick='myFunction("Oceania")' coords='835,372,753,376,735,440,785,477,873,503,940,499,947,441,888,419,860,385' shape='poly')
        area(target='ASIA' alt='ASIA' title='ASIA' onclick='myFunction("Asia")' coords='524,133,559,180,531,252,600,266,638,329,786,365,918,115,671,60' shape='poly')      
      section
        main
          h2 Quiz Questions for #{country}
              each question in questions
                form(action='/check-answer', method='post')
                  input(type='hidden', name='questionId', value=question.id)
                  h3= question.question
                  ul
                    each option, index in [question.answer, question.option1, question.option2, question.option3]
                      li
                        input(type='radio', name='answer', value=option)
                        label(for='answer')= option
                  button(type='submit') Submit Answer
          
          
          // Hidden modal container
          //div#answerModal.modal
            div.modal-content
              p#answerResult
              button#closeModal Close
    
//Have a map of the world, and select country to click 

//+ have a search bar, to look for the country

//redirect to the page of the country with a random question

//Always have a header with the option to login and add questions